.head{
	background-color: #eee193;
}
.col-7{
	background-image: url("../img/casona.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
}
.col-5 ul{
	margin-top: 100px;
	margin-left: 20px;
	padding-top: 20px;
}
.col-5 li{
	list-style-type: none;
}



