
/*CSS MENU */
.head {
    margin:0px; 
	position: static; 
	background-color: #e3e50d;
	height: 150px;
	z-index: 5000px;
}
.head nav ul{
	position: relative;
	bottom: 70px;
}
.head nav ul li{
	font-family: Franklin Gothic Demi; 
	display: inline-block; 
	margin-left: 30px;
	margin-right: 30px;
}
.head nav #img{
	 position: relative;
	 top:65px;
}
