
.icono{
  padding: 15px;
  position: absolute;
  top: 290px;
  right:10px; 
}
/*de la fechaparabajo*/
#list>video{
position: relative;
left: 0px;
}
.dere{
 position: absolute;
 right: 0;
 top: 300px;
}
.imgcart{
  width: 350px;
  height: 190px;
  position: center;
  margin-top: 30px;
}
.listcart li{
text-align: center;
text-decoration: none;
display: block;
}
.listcart li a{
text-decoration: none;
color:#ff9900;
text-align: center;
font-size: 30px;
}
.listcart li a:hover{
  font-weight: bolder; 
  color:#993300;}
}
.container-fluid .choco{
 margin top: 50px;
}
