* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#buton {
	text-decoration: none;}
.intro {
	width: 100%;
	height: 100vh;
	position: relative;
}
.right {
	

	float: right;
	height: 100%;
	width: 60%;
	padding: 3rem 3rem 3rem 5rem;
	display: table;
}
.left > div {
	display: table-cell;
	vertical-align: middle;
}
span {
  color: #E8CA2B;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 4rem;
}
h1 {
	font-size: 4rem;
	margin-bottom: 3rem;
	text-align: center;
}
h1 + p {
  color: #949494;
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.slider {
	float: left;
	position: relative;
	width: 40%;
	height: 95%;
	background:cover;}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: clip .7s ease-in-out, z-index 0s .7s;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
.center-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}

h3, h3 + #buton {
	opacity: 0;
	-webkit-transition: opacity .7s 0s, -webkit-transform .5s .2s;
	transition: opacity .7s 0s, -webkit-transform .5s .2s;
	transition: opacity .7s 0s, transform .5s .2s;
	transition: opacity .7s 0s, transform .5s .2s, -webkit-transform .5s .2s;
	-webkit-transform: translate3d(0, 50%, 0);
	        transform: translate3d(0, 50%, 0);
}
li.current h3, li.current h3 + #buton {
	opacity: 1;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}
li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
nav #buton {
	display: inline-block;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
  min-width: 12px;
  min-height: 12px;
	background: #fff;
	margin: 0 1rem;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
#buton.current_dot {
	-webkit-transform: scale(1.4);
	        transform: scale(1.4);
}
@media screen and (max-width: 700px) {
	.left {
		width: 100%;
		height: 30%;
	}
	.slider {
		width: 100%;
		height: 70%;
	}
}